output/njr01-u02-digital-mindset/imscp_rootv1p1p2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- IMS Content Packaging Schema v1.1.2 -->
<!-- Source: IMS Global Learning Consortium -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:imscp="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
            targetNamespace="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
            elementFormDefault="qualified"
            version="1.1.2">

  <xsd:element name="manifest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="imscp:metadata" minOccurs="0"/>
        <xsd:element ref="imscp:organizations"/>
        <xsd:element ref="imscp:resources"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="version" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="metadata">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="schema" type="xsd:string" minOccurs="0"/>
        <xsd:element name="schemaversion" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="organizations">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="imscp:organization" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="default" type="xsd:IDREF"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="organization">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string"/>
        <xsd:element ref="imscp:item" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string"/>
        <xsd:element ref="imscp:item" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="identifierref" type="xsd:string"/>
      <xsd:attribute name="isvisible" type="xsd:boolean" default="true"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="resources">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="imscp:resource" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="resource">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="imscp:file" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="imscp:dependency" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
      <xsd:attribute name="href" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="file">
    <xsd:complexType>
      <xsd:attribute name="href" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dependency">
    <xsd:complexType>
      <xsd:attribute name="identifierref" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
